*{
	margin:0;
	padding:0;
}
:root {
  --primary-color: #1E90FF;
  --secondary-color: #FFFFFF;
  --accent-color: #2F2F2F;
  --light-gray: #F5F5F5;
  --soft-blue: #E6F0FF;
}


body{
	height:100vh;
	width:auto;
	background-color:var(--light-gray);
}
.headline{
	padding:30px;
	margin:0 auto;
	border-radius:10px;
}
.headline h1{

	text-align:center;
	color:var(--accent-color);
	font-size:40px;
	margin-bottom:20px;
	margin-top:5px;
	padding:0;
}
.headline h2{
	color:var(--primary-color);
	font-size:28px;
	text-align:center;
	margin:10px;
}

.headline h2{
	color:var(--primary-color);
	font-size:28px;
	text-align:center;
	margin:10px;
}
.headline p{
	color:var(--accent-color);
	font-size:24px;
	text-align:left;
	margin:12px;
}
.headline .cta{
	margin:20px auto;
	display:flex;
	align-items:center;
}
.headline .cta a{

	font-size:20px;
	font-weight:600;
	padding:5px 15px;
	margin-left:10px;
	color:var(--primary-color);
	text-decoration:none;
	border:1px solid black;
	border-radius:3px;
	background-color:var(--soft-blue);
	transition:all 0.3 ease;
}
.headline .cta a:hover{
	color:var(--soft-blue);
	background-color:var(--primary-color);
	cursor:pointer;
}

.about-me{
	background-color:var(--secondary-color);
	padding:20px;
	margin:auto;
	width:70%;
	height:auto;
	border-radius:10px;
	box-shadow:2px 2px 10px black;
}

.about-me h2{
	color:var(--primary-color);
	font-size:28px;
	font-weight:600;
	text-align:center;
}

.about-me p{
	color:var(--accent-color);
	font-size:24px;
	text-align:center;
	margin:15px;
}
.about-me .info h3{
	font-size:26px;
	text-align:center;
	margin:20px;
	color:var(--primary-color);
}
.about-me .info .quick-info dl dt {
	color:black;
	font-weight:600;
	font-size:24px;
	
}
.about-me .info .quick-info dl dd{
	font-weight:500;
	font-size:22px;
	color:var(--accent-color);
	margin-left:30px;
}


.skill{
	background-color:var(--secondary-color);
	padding:20px;
	margin:auto;
	margin-top:50px;
	width:70%;
	height:auto;
	border-radius:10px;
	box-shadow:2px 2px 10px black;
}
.skill h2{
	color:var(--primary-color);
	font-size:28px;
	text-align:center;
}
.skill p{
	color:var(--accent-color);
	font-size:24px;
	text-align:center;
	margin:15px;
}
.skill .skill-container{
	display:grid;
	grid-template-columns:repeat(auto-fill,250px);
	justify-content:center;
	gap:20px;
}
.skill .skill-container .technical{
	border:1px solid black;
	padding:10px;
	box-shadow:5px 5px 15px black;
	border-radius:10px;
}

.skill .skill-container .technical h3 {
	margin:10px;
	font-size:22px;
	color:var(--primary-color);
	text-align:center;
}
.skill .skill-container .technical ul li {
	list-style:none;
	font-size:20px;
	color:var(--accent-color);
	text-align:left;
}


.skill .skill-container .soft{
	border:1px solid black;
	padding:10px;
	box-shadow:2px 2px 15px black;
	border-radius:10px;
}

.skill .skill-container .soft h3 {
	margin:10px;
	font-size:22px;
	color:var(--primary-color);
	text-align:center;
}
.skill .skill-container .soft ul li {
	list-style:none;
	font-size:20px;
	color:var(--accent-color);
	text-align:left;
}
.project{
	background-color:var(--secondary-color);
	padding:50px;
	margin:auto;
	margin-top:50px;
	width:70%;
	height:auto;
	border-radius:10px;
	box-shadow:2px 2px 10px black;
}
.project h2{
	color:var(--primary-color);
	font-size:26px;
	text-align:center;
	font-weight:700;
}
.project .p-container{
	display:grid;
	grid-template-columns:repeat(auto-fill,250px);
	justify-content:center;
	gap:10px;
	margin:15px;
}
.project .project-1{
	border:1px solid black;
	padding:10px;
	box-shadow:2px 2px 10px black;
	border-radius:10px;
	margin-left:10px;
}
.project.project-1 h3{
       color:var(--primary-color);
       font-size:22px;
	text-align:center;
 	margin:10px;
}
.project .project-1 p{
	color:var(--accent-color);
	font-size:20px;
	margin:12px;
}
.project .project-1 a{
	text-decoration:none;
	color:var(--accent-color);
	padding:5px 10px;
	width:100%;
	margin:10px 30px;
	background-color:var(--primary-color);
	border:1px solid black;
	border-radius:4px;
	transition:all 0.2s ease;
}
.project .project-1 a:hover{
	color:var(--primary-color);
	background-color:var(--accent-color);
	cursor:pointer;
}

.edu{
	background-color:var(--secondary-color);
	padding:50px;
	margin:auto;
	margin-top:50px;
	width:70%;
	height:auto;
	border-radius:10px;
	box-shadow:2px 2px 10px black;
}
.edu h2{
	color:var(--primary-color);
	font-size:26px;
	text-align:center;
	padding:10px;
	font-weight:700;
}
.edu .education h3{
	margin:20px;
	padding:10px;
	font-size:22px;
	text-align:left;
	color:var(--primary-color);
}
.edu .education p,a{
	text-decoration:none;
	color:var(--accent-color);
	font-size:20px;
}
.contact{
	background-color:var(--secondary-color);
	padding:50px;
	margin:auto;
	margin-top:50px;
	width:70%;
	height:auto;
	border-radius:10px;
	box-shadow:2px 2px 10px black;
}
.contact h2{
	font-size:26px;
	color:var(--primary-color);
	text-align:center;
	margin:12px;
}
.contact p{
	font-size:20px;
	text-align:center;
	margin:10px auto;
	width:70%;
	color:var(--accent-color);
	padding:10px;
}
.contact .reach h3{
	font-size:22px;
	text-align:center;
	color:var(--primary-color);
	padding:15px;
	margin:25px;
}
.contact .reach .contact-info {	
	width:100%;

}

.contact .reach .contact-info ul{
	margin-left:25px;
	display:grid;
	grid-template-columns:repeat(auto-fill,80px);
	justify-content:center;
	gap:50px;
}
.contact .reach .contact-info ul li {
	list-style:none;
}

.contact .reach .contact-info ul li a{
	padding:10px;
	background-color:var(--primary-color);
	border:1px solid black;
	border-radius:3px;
	cursor:pointer;
	transition:all 0.3s ease;
}

.contact .reach .contact-info ul li a:hover{
	color:var(--primary-color);
	background-color:var(--accent-color);
}
footer{
	width:100%;
	margin-top:15px;
	background-color:var(--accent-color);
}
footer p{
	text-align:center;
	color:var(--primary-color);
	font-size:12px;
	padding:3px;
}

