.main-container{
	margin:auto;
	width:600px;
	height:600px;
	background-color:yellow;
	border:2px solid black;
	border-radius:5px;
}
#display{
	font-size:60px;
	text-align:center;
	color:black;
	width:90%;
	height:50px;
	background-color:yellow;
	border:none;
	padding:20px;
}
button{
	width:100px;
	height:100px;
	border:2px solid black;
	border-radius:50px;
	font-size:50px;
	background-color:black;
	color:white;
	margin:10px;
}
button:hover{
	color:orange;
	background-color:grey;
	
}
.main{
	width:90%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	margin:auto;

}
